@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --conjured-grey: #c9c9d5;
  --conjured-light-purple: #c490c5;
  --conjured-black: #000000;
  --conjured-blue: #253060;
  --conjured-dark-purple: #814f82;
}

body {
  background-image: url("https://i.imgur.com/4VRY0Mr.png");
  display: grid;
  place-items: center;
}

header {
  display: grid;
  place-items: center;
}

.navbar {
  width: 100vw;
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  background-color: var(--conjured-blue);
  filter: drop-shadow(0px 5px 10px #000000);
}

a {
  text-decoration: none;
  color: var(--conjured-grey);
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 20px;
}

a:hover {
  color: var(--conjured-light-purple);
}

#logo-container {
  display: grid;
  place-items: center;
  margin-top: 5rem;
}

#header-text-image {
  width: 50vw;
  filter: drop-shadow(0px 0px 15px #000000);
}

#header-logo-image {
  filter: drop-shadow(0px 0px 15px #000000);
}
