@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --conjured-grey: #c9c9d5;
  --conjured-light-purple: #c490c5;
  --conjured-black: #000000;
  --conjured-blue: #253060;
  --conjured-dark-purple: #814f82;
}

body {
  background-image: url("https://i.imgur.com/4VRY0Mr.png");
  width: 100%;
  background-color: var(--conjured-grey);
  background-attachment: fixed;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: grid;
  place-items: center;
  width: 100%;
}

.navbar {
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  background-color: var(--conjured-blue);
  filter: drop-shadow(0px 5px 10px #000000);
}

#navbar-link {
  text-decoration: none;
  color: var(--conjured-grey);
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 20px;
}

#navbar-link:hover {
  color: var(--conjured-light-purple);
}

#logo-container {
  display: grid;
  place-items: center;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#header-logo-image {
  filter: drop-shadow(0px 0px 15px #000000);
  height: 30vw;
}

#header-text-image {
  width: 50vw;
  filter: drop-shadow(0px 0px 15px #000000);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#stream-container {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
}

.stream-link {
  display: block;
  width: 10%;
  height: 20%;
  border-radius: 0.25rem;
  background-color: var(--conjured-grey);
  padding: 1rem;
  z-index: 5;
  position: absolute; /* Absolute positioning to overlay on the image */
  top: 45%; /* Adjust the top position */
  left: 60%; /* Adjust the left position (you can use percentages or px for precise placement) */
  display: grid;
  place-items: center;
}

.stream-link:nth-child(2) {
  left: 30%; /* Offset the second link from the first one */
}

.stream-link:hover {
  filter: brightness(0.8);
}

.stream-link > img {
  width: 90%;
}

.stream-image {
  filter: brightness(0.5);
  filter: blur(0.15rem);
  width: 80%;
  border: 5px solid black;
}

.support-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5rem;
}

.patreon-container {
  background-image: url(./assets/patreon-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: grid;
  place-items: center;
  width: 50%;
  position: relative;
  padding-top: 25.25%;
}

.dubby-container {
  background-image: url(./assets/dubby.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: grid;
  place-items: center;
  width: 50%;
  position: relative;
  padding-top: 25.25%;
}

.support-link {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: white;
}

.patreon-container:hover,
.dubby-container:hover {
  filter: brightness(0.75);
}

footer {
  background-color: var(--conjured-blue);
  color: var(--conjured-grey);
  width: 100%;
  height: 4rem;
}
