/* General Container */
.about-container {
  margin: 4rem 1rem;
  display: grid;
  place-items: center;
  background-color: white;
  padding: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Paragraph */
.about-container > p {
  width: 90%;
  max-width: 800px;
  margin: 1rem;
  text-align: justify;
}

/* Heading */
h1 {
  font-size: 2.5rem;
  text-align: center;
}

.about-players-heading {
  width: 100%;
  margin: 2rem 0;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  background-color: var(--conjured-dark-purple);
  color: #f9f9f9;
  text-shadow: 0px 2px 5px black;
  padding: 0.5rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Player Containers */
.about-players {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.player-container {
  margin: 1rem auto;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 2rem;
  width: 90%;
  max-width: 800px;
  background-color: white;
  border: 2px solid var(--conjured-blue);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.player-container:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

/* Player Headshot */
.player-headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    var(--conjured-dark-purple) 0%,
    var(--conjured-grey) 100%
  );
  box-shadow: 0px 2px 5px black;
}

/* Player Info */
.player-info-container {
  width: 90%;
  margin-top: 1rem;
  color: var(--conjured-black);
  text-align: center;
}

.player-name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.player-description {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0 auto;
}

/* Player Characters */
.player-characters-container {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 300%;
}

.character-container {
  width: 100px;
  display: grid;
  place-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.238);
  border-radius: 0.5rem;
  background-color: var(--conjured-grey);
}

.character-container > img {
  width: 100%;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

.character-container > p {
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .player-characters-container {
    width: 100%;
  }
}

/* Responsive Design */
@media (min-width: 768px) {
  .player-container {
    grid-template-columns: 1fr 2fr;
    place-items: center start;
  }

  .player-info-container {
    text-align: left;
  }

  .about-container > p {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }

  .about-players-heading {
    font-size: 5rem;
  }

  .player-container {
    width: 70%;
  }
}
